<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!--MySQL配置链接-->
    <add key ="MySqlConn" value="SslMode=None;server=localhost;database=wcs;uid=root;pwd=kd123"/>

    <!--运输车待命点1-->
    <add key ="StandbyP1" value="001"/>
    <!--运输车待命点2-->
    <add key ="StandbyP2" value="241"/>
    
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>