<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      
        <!--文件夹存储内容：
              Function   设备控制方法类
              Models     数据类
              TaskAction 任务逻辑处理类 -->
      
    </startup>
</configuration>