<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <!--MySQL配置链接-->
    <add key="MySqlConn" value="SslMode=None;server=localhost;database=wcs;uid=root;pwd=kd123"/>

    <!--摆渡车于运输车对接点-->
    <add key="StandbyAR" value="2"/>

    <!--运输车待命点1-->
    <add key="StandbyP1" value="001"/>
    <!--运输车待命点2-->
    <add key="StandbyP2" value="241"/>
    <!--运输车于运输车对接点-->
    <add key="StandbyRR" value="240"/>

    <!--行车取放货物于运输车Z轴值-->
    <add key="FixtureR" value="001"/>
    <!--行车取放货物于库存底层Z轴值-->
    <add key="FixtureL1" value="001"/>
    <!--行车取放货物于库存二层Z轴值-->
    <add key="FixtureL2" value="002"/>
    
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
